div{
    margin-top: 60px;
}

.div1{
    width: 150px;
    height: 150px;
    background: red;
    transform: translate(50px, 50px);/*Desta maneira o elemento será deslocado, 50px no eixo x e 50px no eixo y*/
}

.div2{
    width: 150px;
    height: 150px;
    background: blue;
}

.div3{
    width: 150px;
    height: 150px;
    background: red;
    transform: translate(50%, 50%);/*Desta maneira o elemento será deslocado, 50% do seu tamanho no eixo x e 50% do seu tamanho no eixo y*/
}

.div4{
    border: solid 2px black;
    overflow: hidden;
}

.div4-interna{
    background: yellow;
    transform: translate(20%, 25px);/*Note que o elemento se desloca na div pai*/
}

.div5{
    border: solid 2px black;
    overflow: hidden;
}

.div5-interna{
    background: yellow;
    transform: rotate(45deg);
}

.div6{
    border: solid 2px black;
    overflow: hidden;
}
        
.div6-interna{
    background: yellow;
    transform-origin: left top;
    transform: rotate(10deg);
}    

.div7{
    border: solid 2px black;
    overflow: hidden;
}
        
.div7-interna{
    background: yellow;
    transform: rotate(10deg) translate(20%);
}    

.div8{
    border: solid 2px black;
    overflow: hidden;
}
        
.div8-interna{
    background: yellow;
    transform-origin: left top;/*modifica o eixo de transformação*/
    transform: translate(20px) rotate(10deg); /*Somente colocar um espaço entre os atributos*/
}    

.div9{
    width: 150px;
    height: 150px;
    background: orange;
    transform: skew(10deg);
}

.div10{
    width: 150px;
    height: 150px;
    background: orange;
    transform: skewy(10deg);
}

.div11{
    width: 150px;
    height: 150px;
    background: orange;
    transform: skew(10deg, 30deg);
}

.div12{
    width: 150px;
    height: 150px;
    background:yellowgreen;
    transform: scale(1.5); /*Aplica nos dois eixos igualmente*/
}

.div13{
    width: 150px;
    height: 150px;
    background: yellowgreen;
    transform: scaleX(1.5);
}

.div14{
    width: 150px;
    height: 150px;
    background: yellowgreen;
    transform: scaleY(1.5);
}

.div15{
    width: 150px;
    height: 150px;
    background: yellowgreen;
    transform: scaleY(1);
    transition: .5s;
}

.div15:hover{
    transform: scale(2);
}