@charset "utf-8";

#container{
    background-color: #ccc;
    padding: 20px;
    margin: 30px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

.display{
    width: 1fr;
    background-image: linear-gradient(rgb(179, 178, 178), rgb(211, 209, 209));
    margin-bottom: 20px;
    height: 50px;
    border-left: #ddd solid 3px;
    border-top: #ddd solid 3px;
    text-align: right;
    font-size: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.teclado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 5px;
}

.zero{
    grid-column: 1 / 3;
    background-color: #bbb;
}

.plus{
    grid-row: 4 / 6;
    grid-column: 4 / 5;
    background-color: #bbb;
}