*{
    margin-top: 0px;
    padding-top: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: rgb(148, 147, 147);
}

strong{
     color: rgb(44, 44, 44);
}

.mainHeader{
    background-image: url(../images/bg.jpg);
    background-position: fixed, left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 100%;
    position: fixed;
    margin-top: 0px;
    padding-top: 0px;
    left: 0px;
    border-top: 0px;
    display: inline-block;
    padding-right: 5%;
    box-sizing: border-box;
    text-align: right;
    padding-top: 150px;
}

.mainHeaderImage{
    border-radius: 50%;
}

.mainHeader p{
    color: rgb(175, 175, 175);
    letter-spacing: 1px;
    font-weight: lighter;
}

.mainHeader h1{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgba(73, 73, 73, 0.801);
    letter-spacing: 1px;
    line-height: 1.5;
}


.mainHeader a{
    text-decoration: dotted;
    color: rgba(119, 119, 119, 0.801);
    transition: .5s;
}

.mainHeader a:hover{
    color: rgb(25, 207, 147);
    font-weight: 100;
}

.mainContentSection1{
    margin-left: 40%;
    margin-right: 5%;
    padding-top: 150px;
}

.mainContentSection1 p{
    color: grey;
    line-height: 1.5;
}

.mainContentSection{
    margin-left: 40%;
    margin-right: 5%;
    padding-top: 50px;
}

.mainContentSection p{
    color: grey;
    line-height: 1.5;
}

.mainContentSection1 a{
    color: rgb(148, 147, 147);
    text-decoration: none;
}

.mainContentSection a{
    color: rgb(148, 147, 147);
    text-decoration: none;
}

.mainContentSectionCard{
    width: 48%;
    float: left;
    margin: 20px 1%;
}

.mainContentSection img{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.mainContentCards{
    overflow: auto;
}

.getInTouch{
    width:60%;
}

/*BUTTONS*/

.buttonDefault{
    border: rgb(148, 147, 147) 2px solid;
    border-radius: 5px;
    padding: 15px;
    display: inline-block;
    transition: .3s;
}

.buttonDefault:hover{
    color: rgb(25, 207, 147);
    border: rgb(25, 207, 147) 2px solid;
}


/*====================================================*/



/*INPUTS -  COMECAREI A UTILIZAR SELETORES*/

input{
    display: block;
    margin-bottom: 15px;
}

label{
    color: rgb(200,200,200);
}

input[type=text]{
    background-color: rgb(240,240,240);
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}

input[type=email]{
    background-color: rgb(240,240,240);
    width: 60%;
    padding: 8px;
    border-radius: 10px;
}

textarea{
    display: block;
    background-color: rgb(240,240,240);
    width: 80%;
    resize: none;
    margin-bottom: 20px;
}

/*font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;*/