/* ========= CORREÇÃO ==========
    a Correção está feita neste código em comentários, o site está da maneira que eu codei.
*/



/* ========= Dica =========
    Sempre é interessante a formatação das tags mais básicas do documento primeiro.
*/
*{
    margin-top: 0px;
    padding-top: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: rgb(148, 147, 147);

    /*unidade de medida "em", eh relativo a o mesmo tamanho do elemento em questao, se um elemento tem 10px
    1em = 10px.
    pode ser aplicado em padding, height, width, etc.
    */
}

strong{
     color: rgb(44, 44, 44);
}

/* p {
    margin: 0 0 2em; *a margem vai acompanhar o tamanho da letra, sendo duas vezes seu tamanho.
    }


 sub,sup{
    font-size: 12px;
}

    blockquote{
      border-left:     
}

    code{
        background: #f7f7f7;
        border-radius: .35em;
        border: 2px solid #efefef;
        font-size: .9em;
        padding: 0.25em 0.65em;
    }

    pre code{
        display: block;
    }

    ul, ol{
        margin: 0;
        padding: 0;
        padding-left: 1em;
    }

    li{
        padding-left: .5em;
    }

*/

/* =================== Main ======================*/

.mainHeader{
    background-image: url(../images/overlay.png),url(../images/bg.jpg); /*Sobrepoe uma imagem, como camadas*/
    background-position: fixed, left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 100%;
    position: fixed;
    margin-top: 0px;
    padding-top: 0px;
    left: 0px;
    border-top: 0px;
    display: inline-block;
    padding-right: 5%;
    box-sizing: border-box;
    text-align: right;
    padding-top: 50px;
}

.mainHeaderImage{
    border-radius: 50%;
}

.mainHeader p{
    color: rgb(136, 136, 136);
    letter-spacing: 1px;
    font-weight: lighter;
}


.mainHeader h1{ /*Sempre é bom colocar uma classe BEM DEFINIDA! ======= ERRO =======*/
    /* ===== BEM - Block Element modifier =======
    main-header-h1
    main (block)
    header - Element
    h1 - modifier
    */    
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgba(199, 199, 199, 0.801);
    letter-spacing: 1px;
    line-height: 1.5;
}


/*  Mais fácil formatar todo a.
    a{
        transition: color 2s linear, border .2s linear;
        text-decoration: none;
        border-bottom: dotted 1px;
        color: #49bf9d;
    }
    a:hover{
        border-bottom-color: transparent;
    }
*/

.mainHeader a{
    /*====== BEM ======
    main-header-link
    ===== Herança de formatação ======
    color: inherit; Herda as configurações de color do elemento pai, no caso do link um h1.
    */
    text-decoration: dotted;
    color: rgba(119, 119, 119, 0.801);
    transition: .5s;
}

.mainHeader a:hover{
    color: #49bf9d;
    font-weight: 100;
}

.mainContentSection1{
    margin-left: 40%;
    margin-right: 5%;
    padding-top: 50px;
}

.mainContentSection1 p{
    color: grey;
    line-height: 1.5;
}

.mainContentSection{
    margin-left: 40%;
    margin-right: 5%;
    padding-top: 50px;
}

.mainContentSection p{
    color: grey;
    line-height: 1.5;
}

.mainContentSection1 a{
    color: rgb(148, 147, 147);
    text-decoration: none;
}

.mainContentSection a{
    color: rgb(148, 147, 147);
    text-decoration: none;
}

.mainContentSectionCard{
    width: 48%;
    float: left;
    margin: 20px 1%;
}

.mainContentSection img{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.mainContentCards{
    overflow: auto;
}

.getInTouch{
    width:60%;
}

.mainContentSection blockquote{
    border-left: 3px solid rgb(192, 192, 192);
    padding-left: 30px;
    margin-left: 0px;
}

.mainContentSection pre{
    width: 90%;
    margin: auto;
    border: 2px solid rgb(200,200,200);
    padding: 30px;
    box-sizing: border-box;
    margin-left: 0px;
    border-radius: 10px;
    color: rgb(155, 155, 155);
}



.listas{
    width: 50%;
    float:left;
    margin-left: 0px;
    color: rgb(175, 175, 175);
    margin: 20px 0px;
}


.listasAlternate li{
    border-bottom: 1px solid rgb(200,200,200);
    color: rgb(175,175,175);
    width: 48%;/* erro na formatação*/
}

/*
    .ul-alternate{
        list-style-type: none;
        padding-left: 0;
    }

    .ul-alternate li{
        border-bottom: 2px solid #d8d8d8;
        padding-left: 0;
    }

    .ul alternate li:lastchild{ **lastchild: o ultimo filho de li, a ultima linha
        border: 0;
    }
*/

.icons{
    font-size: 25px;
    color: rgb(25, 207, 147);
}

.prioridade label{
    display: inline;
}

/* =============== TABLES =================*/
/* 
    table{
        width: 100%;
        margin: 0 0 2em 0;
        border-collapse: collapse;
        text-align: left;
    }

    table td{
        padding: .75em;
    }

    table th{
        background: #ccc;
        padding: .75em;
    }

    table tbody tr td{
        border-bottom: 1px solid #ccc;
    }

    table tbody tr:first-child td{
        border-top: 2px solid #666;
    }

    table tbody tr:last-child td{
        border-bottom: 2px solid #666;
    }

    table tbody tr:nth-child(odd) td{
        background: #eee;
        //nth-child(odd): possibilita pegar um elemento n de uma arvore de herança, no caso "odd" elementos ímpares
        //nth-child(even): elementos pares;
    }

    .table-alternate tbody td, .table-alternate tbody tr:firs-child td, .table-aternate tbody tr:last-child td{
        border: 1px solid #ddd;
    }
*/


table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

tr, th, td{
    padding: 10px;
    text-align: left;
}

thead{
    background-color: rgb(200,200,200);
    color: rgb(145, 145, 145);
}

tfoot{
    border-top: rgb(92, 92, 92) 2px solid;
    border-bottom: none;
}

.one{
    background-color: rgb(226, 226, 226);
}

.tableAlternate tbody{
    border: 1px rgb(200,200,200) solid;
    border-top: 1px rgb(200,200,200) solid;
    border-right: 1px rgb(200,200,200) solid;
    border-left: 1px rgb(200,200,200) solid;
}


.tableAlternate td{
    border: 1px rgb(200,200,200) solid;
}

/*================ BUTTONS ================*/

.buttonDefault{
    border: rgb(148, 147, 147) 2px solid;
    border-radius: 5px;
    padding: 15px;
    display: inline-block;
    transition: .3s;
    text-align: center;
    font-size: 14px;
}

.buttonDefaultSmall{
    border: rgb(148, 147, 147) 2px solid;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    transition: .3s;
    text-align: center;
    font-size: 11px;
}

.buttonDefaultFull{
    width: 180px;
}

.buttonDefaultFullSmall{
    font-size: 10px;
    width: 180px;
    padding: 10px;
}

.buttonDefault:hover{
    color: rgb(25, 207, 147);
    border: rgb(25, 207, 147) 2px solid;
}

.buttonDefaultFill{
    background-color: rgb(25, 207, 147);
    transition: .3s;
    border:rgb(25, 207, 147) 2px solid;
    border-radius: 5px;
    transition: .5s;
}

.buttonDefaultFillSmall{
        background-color: rgb(25, 207, 147);
        transition: .3s;
        border:rgb(25, 207, 147) 2px solid;
        border-radius: 5px;
        display: inline-block;
        transition: .5s;
        padding: 10px;
        font-size: 11px;
}

.buttonDefaultFillSmall:hover{
    color: rgb(19, 172, 121);
    background-color: rgb(24, 255, 178);
    border: rgb(24, 255, 178) 2px solid;
}

.buttonDefaultFill:hover{
    background-color: rgb(24, 255, 178);
    color: rgb(19, 172, 121);
    border: rgb(24, 255, 178) 2px solid;
}

.buttonsUpon input{
    display: block;
    margin-top: 5px;
}

.buttonsSide input{
    display: inline;
}

/*============ images =============*/
.imageFull{
    margin: 10px 0;
    display: block;
}

.imageThumb{
    margin-top: 10px;
    width: 32%;
    margin-left: none;
    margin-right: 2%;
    height: 200px;
    float: left;
    display: inline-block;
}

.imageThumb2{
    width: 32%;
    margin-right: none;
    height: 200px;
    float: left;
    display: inline-block;
    margin-top: 10px;
}

.imageLeft{
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 0px;
}

.imageRight{
    width: 90px;
    height: 90px;
    display: inline-block;
    float: right;
    border-radius: 0px;
}

/*====================================================*/





/*========= FORMATACAO DE FORMULÁRIO =============*/

    

/* ==================== INPUTS ======================*/
/* COMECAREI A UTILIZAR SELETORES*/

input{
    display: block;
    margin-bottom: 15px;
}

label{
    color: rgb(133, 133, 133);
    display: block;
}

input[type=text]{
    background-color: rgb(240,240,240);
    width: 49%;
    padding: 8px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
}

input[type=email]{
    background-color: rgb(240,240,240);
    width: 49%;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
}

textarea{
    display: block;
    background-color: rgb(240,240,240);
    width: 80%;
    resize: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

input[type=radio]{
    display: inline-block;
}

input[type=checkbox]{
    display: inline-block;
}
/* ============= Fontes utilizadas =================*/
/*font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;*/