*{
    margin-top: 0px;
    padding-top: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: rgb(148, 147, 147);
}

strong{
     color: rgb(44, 44, 44);
}

/* =================== Main ======================*/

.mainHeader{
    background-image: url(../images/bg.jpg);
    background-position: fixed, left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 100%;
    position: fixed;
    margin-top: 0px;
    padding-top: 0px;
    left: 0px;
    border-top: 0px;
    display: inline-block;
    padding-right: 5%;
    box-sizing: border-box;
    text-align: right;
    padding-top: 50px;
}

.mainHeaderImage{
    border-radius: 50%;
}

.mainHeader p{
    color: rgb(175, 175, 175);
    letter-spacing: 1px;
    font-weight: lighter;
}

.mainHeader h1{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgba(73, 73, 73, 0.801);
    letter-spacing: 1px;
    line-height: 1.5;
}


.mainHeader a{
    text-decoration: dotted;
    color: rgba(119, 119, 119, 0.801);
    transition: .5s;
}

.mainHeader a:hover{
    color: rgb(25, 207, 147);
    font-weight: 100;
}

.mainContentSection1{
    margin-left: 40%;
    margin-right: 5%;
    padding-top: 50px;
}

.mainContentSection1 p{
    color: grey;
    line-height: 1.5;
}

.mainContentSection{
    margin-left: 40%;
    margin-right: 5%;
    padding-top: 50px;
}

.mainContentSection p{
    color: grey;
    line-height: 1.5;
}

.mainContentSection1 a{
    color: rgb(148, 147, 147);
    text-decoration: none;
}

.mainContentSection a{
    color: rgb(148, 147, 147);
    text-decoration: none;
}

.mainContentSectionCard{
    width: 48%;
    float: left;
    margin: 20px 1%;
}

.mainContentSection img{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.mainContentCards{
    overflow: auto;
}

.getInTouch{
    width:60%;
}

.mainContentSection blockquote{
    border-left: 3px solid rgb(192, 192, 192);
    padding-left: 30px;
    margin-left: 0px;
}

.mainContentSection pre{
    width: 90%;
    margin: auto;
    border: 2px solid rgb(200,200,200);
    padding: 30px;
    box-sizing: border-box;
    margin-left: 0px;
    border-radius: 10px;
    color: rgb(155, 155, 155);
}



.listas{
    width: 50%;
    float:left;
    margin-left: 0px;
    color: rgb(175, 175, 175);
    margin: 20px 0px;
}


.listasAlternate li{
    border-bottom: 1px solid rgb(200,200,200);
    color: rgb(175,175,175);
    width: 48%;/* erro na formatação*/
}

.icons{
    font-size: 25px;
    color: rgb(25, 207, 147);
}

.prioridade label{
    display: inline;
}

/* =============== TABLES =================*/
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

tr, th, td{
    padding: 10px;
    text-align: left;
}

thead{
    background-color: rgb(200,200,200);
    color: rgb(145, 145, 145);
}

tfoot{
    border-top: rgb(92, 92, 92) 2px solid;
    border-bottom: none;
}

.one{
    background-color: rgb(226, 226, 226);
}

.tableAlternate tbody{
    border: 1px rgb(200,200,200) solid;
    border-top: 1px rgb(200,200,200) solid;
    border-right: 1px rgb(200,200,200) solid;
    border-left: 1px rgb(200,200,200) solid;
}


.tableAlternate td{
    border: 1px rgb(200,200,200) solid;
}

/*================ BUTTONS ================*/

.buttonDefault{
    border: rgb(148, 147, 147) 2px solid;
    border-radius: 5px;
    padding: 15px;
    display: inline-block;
    transition: .3s;
    text-align: center;
    font-size: 14px;
}

.buttonDefaultSmall{
    border: rgb(148, 147, 147) 2px solid;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    transition: .3s;
    text-align: center;
    font-size: 11px;
}

.buttonDefaultFull{
    width: 180px;
}

.buttonDefaultFullSmall{
    font-size: 10px;
    width: 180px;
    padding: 10px;
}

.buttonDefault:hover{
    color: rgb(25, 207, 147);
    border: rgb(25, 207, 147) 2px solid;
}

.buttonDefaultFill{
    background-color: rgb(25, 207, 147);
    transition: .3s;
    border:rgb(25, 207, 147) 2px solid;
    border-radius: 5px;
    transition: .5s;
}

.buttonDefaultFillSmall{
        background-color: rgb(25, 207, 147);
        transition: .3s;
        border:rgb(25, 207, 147) 2px solid;
        border-radius: 5px;
        display: inline-block;
        transition: .5s;
        padding: 10px;
        font-size: 11px;
}

.buttonDefaultFillSmall:hover{
    color: rgb(19, 172, 121);
    background-color: rgb(24, 255, 178);
    border: rgb(24, 255, 178) 2px solid;
}

.buttonDefaultFill:hover{
    background-color: rgb(24, 255, 178);
    color: rgb(19, 172, 121);
    border: rgb(24, 255, 178) 2px solid;
}

.buttonsUpon input{
    display: block;
    margin-top: 5px;
}

.buttonsSide input{
    display: inline;
}

/*============ images =============*/
.imageFull{
    margin: 10px 0;
    display: block;
}

.imageThumb{
    margin-top: 10px;
    width: 32%;
    margin-left: none;
    margin-right: 2%;
    height: 200px;
    float: left;
    display: inline-block;
}

.imageThumb2{
    width: 32%;
    margin-right: none;
    height: 200px;
    float: left;
    display: inline-block;
    margin-top: 10px;
}

.imageLeft{
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 0px;
}

.imageRight{
    width: 90px;
    height: 90px;
    display: inline-block;
    float: right;
    border-radius: 0px;
}

/*====================================================*/



/* ==================== INPUTS ======================*/
/* COMECAREI A UTILIZAR SELETORES*/

input{
    display: block;
    margin-bottom: 15px;
}

label{
    color: rgb(133, 133, 133);
    display: block;
}

input[type=text]{
    background-color: rgb(240,240,240);
    width: 49%;
    padding: 8px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
}

input[type=email]{
    background-color: rgb(240,240,240);
    width: 49%;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
}

textarea{
    display: block;
    background-color: rgb(240,240,240);
    width: 80%;
    resize: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

input[type=radio]{
    display: inline-block;
}

input[type=checkbox]{
    display: inline-block;
}
/* ============= Fontes utilizadas =================*/
/*font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;*/