li ul{
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: height .5s, background-color 1s ease, width .5s; /*testando algumas coisas... gostei!*/
}

li:hover ul{
    height: 40px;
    background-color: yellow;
    width: 50%;
}

div{
    width: 20%;
    height: 120px;
    border: solid 1px black;
    margin: 20px;
}

.div1{
    overflow: hidden;
}

.div2{
    overflow: scroll;
}

.div3{
    overflow: auto;
}

