* {
    padding: 0px;
    margin: 0px;
}

#mainSection{
    display: grid;
    grid-template-areas: "header header" "nav nav" "content aside" "footer footer";
}

.mainHeader{
    grid-area: header;
    background-color: red;
}

.mainNav{
    grid-area: nav;
    background-color: green;
}

.mainContent{
    grid-area: content;
    background-color: purple;
}

.aside{
    grid-area: aside;
    background-color: orange;
}

.footer{
    grid-area: footer;
    background-color: greenyellow;
}