* {
    padding: 0px;
    margin: 0px;
}

#mainSection{
    display: grid;/*Determina que se trata de um grid layout*/
    grid-template-areas: "header header" "nav nav" "content aside" "footer footer";/*quantas linhas e quantas colunas possuíra o layout*/
    grid-template-rows: 15vh 10vh 55vh 20vh; /*Determina a altura de cada linha do grid*/
}

.mainHeader{
    grid-area: header;/*instancia o .mainHeader como referência ao header do grid-template-areas, este no caso terá duas colunas*/
    background-color: red;
}

.mainNav{
    grid-area: nav;
    background-color: green;
}

.mainContent{
    grid-area: content;
    background-color: purple;
}

.aside{
    grid-area: aside;
    background-color: orange;
}

.footer{
    grid-area: footer;
    background-color: greenyellow;
}


/*====== Nossa Grid =========*/
#nossaGrid{
        width: 90%;
        max-width: 900px;
        margin: 2em auto;
        font: .9em/1.2 Arial, Helvetica, sans-serif;
        
}
.container{
    display: grid;
    /*grid-template-columns: 200px 200px 200px; define três colunas de 200px na grid*/
    /*grid-template-columns: 1fr 1fr 1fr; distribui as tres colunas, cada uma com uma fração do todo, um terço*/
    /*grid-template-columns: 2fr 1fr 1fr; distribui duas fraçoes para o primeiro elemento e uma pra cada que sobra*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));/*quantas colunas couberem na tela*/
    grid-gap: 30px 10px; /*define um espaço entre os gridItens, linhas / colunas*/
    grid-auto-rows: minmax(100px, auto);/*faz que o griditem se adapte ao tamanho do conteudo, em altura*/
}

.container div{
    border-radius: 5px;
    padding: 10px;
    background-color: lightgreen;
    border: 2px solid rgb(120, 120, 248);
}

.one{
    grid-row: 1 / 4;
}

.three{
    grid-column: 2 / -1; /*desde a primeira coluna até a última*/
}
/*BREAKINGPOINTS*/

@media screen and (max-width: 768px){
    body{
        background: #cdcdcd;
    }
    #mainSection{
        grid-template-areas: "header" "content" "aside" "footer"; /*o layout se adapta a media querie, de maneira organica e muitoooooooo fácil*/
    }
    .mainNav{
        grid-area: header; /*.mainNav se funde com o header, agora a drid area de nav é a mesma que mainHeader*/
        margin-top: 20px;
    }
}

