body{
    font-family: tahoma, arial, sans-serif;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
}

#principal{
    margin-top: 40px;
}

.mainHeader{
    width: 100%;
}

.mainHeaderTag{
    height:70px;
    width: 100%;
    padding: 10px;
    background-color: rgb(4, 14, 22);
    box-sizing: border-box;
    position: relative;
}

.logotipo{
    float: right;
    position: absolute;
    left: 30px;
    top: 20px;
}

.mainHeaderUl{
    float: right;
    margin-right: 30px;
}

.mainHeaderLi{
    display: inline;
    letter-spacing: 2px;
    font-size: 15px;
    margin-left: 20px;
    color: rgb(85, 122, 155);
    text-decoration: none;
}

.mainHeaderLi a:link{
    text-decoration: none;
    color: rgb(85, 122, 155);
}

.mainHeaderLi a:hover{
    color: white;
}

.imgHeader{
    width: 100%;
    display: inline-block;
    margin-top: 0;
}

.portifolio{
    margin: auto;
    text-align: center;
    color: rgb(4, 33, 56);
    width: 75%;
}

.portifolio p{
    font-size: 16px;
    line-height: 2;
}

.portifolio h2{
    font-weight: bolder;
    margin-top: 80px;
    font-size: 30px;
}

#gallery{
    margin-top: 80px;
    overflow: auto;
}

.galleryCard{
    float: left;
    width: 32%;
}

.galleryCard img{
    width: 100%;
    display: block;
}

.card{
    margin-right: 2%;
}

.about{
    height: 500px;
    background-image: url(../images/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: rgb(0,61,82);
    color: rgb(247, 247, 247);
    margin-top: 80px;
}

.aboutText{
    width: 60%;
    position: relative;
    top: 50px;
    left: 50px;
}

.aboutText h2{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    font-weight: lighter;
}

.aboutText p{
    letter-spacing: 2px;
    width: 70%;
}

.contact{
    text-align: center;
    color: rgb(4, 33, 56);
    margin-top: 80px;
}

.map{
    margin-top: 80px;
}

footer{
    height: 80px;
    background-color: rgb(4, 33, 56);
    margin-bottom: 80px;
    margin-top: 80px;
    color: rgb(85, 122, 155);
    text-align: center;
    line-height: 80px;
}