* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'circularstd-book', helvetica, sans-serif;
    overflow-x: hidden;
}

@font-face {
    font-family: mainfontbold;
    src: url(../fonts/CircularStd-Bold.otf);
}

@font-face {
    font-family: mainfontbook;
    src: url(../fonts/CircularStd-Book.otf);
}

/*
.menu {
    list-style-type: none;
    float: left;
    border: 1px solid #c0c0c0;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
    list-style-type: none; 
}

.menu li a {
    background-color: #7c7c7c;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.menu li a:hover {
    background-color: #c0c0c0;
}

.menu li ul {
    position: absolute;
    display: none;
    top: auto;
    left: 0;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
    z-index: 1;
}

.menu li ul li {
    width: 150px;
}

.dropdown {
    display: block;
    position: relative;
}

.dropdown-content {
    display: none;
    padding: 50px;
    box-shadow: 3px 3px .5px black;
    background-color: #7c7c7c;
    max-width: 160px;
    position: absolute;
    left: 160px;
}

.dropdown:hover .dropdown-content { /*Quando hover no .dropdown o dropdown-content display block
    display: block;
}

.dropdown-content:hover {
    background-color: #c0c0c0;
}*/

.dropbtn {
    padding: 8px 16px;
    color: white;
    background-color: #aaa;
    border: none;
    cursor: pointer;
    width: 120px;
    font-size: 16px;
}

.dropbtn:hover {
    background-color: #888;
}

.dropdown:hover .dropbtn {
    background-color: #888;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #ccc;
    color: #333;
    left: 100%;
    top: 0;
    position: absolute;
    min-width: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    z-index: 1;
    max-width: 160px;
    transition: width 0.4s ease-in-out;
}

.dropdown-content a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #aaa;
    
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 160px;
}

.teste {
    width:550px;
    background-image: linear-gradient(to bottom right, red, blue);
    padding: 30px;
    transition: width 0.4s ease-in-out;
}

.teste a{
    text-decoration: none;
    color: #fcfcfc;
    font-weight: bolder;
    font-family: 'mainfontbold', arial;
    font-size: 24px;
}

.teste:hover {
    width: 100%;
}

.shadow {
    width: 100px;
    padding: 8px 16px;
    background-color: #fcfcfc;
    border: 1px solid grey;
    margin: 20px 20px;
    border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    position: relative;
}

.shadow::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);        
    width: 70%; 
    left: 15%; /* one half of the remaining 30% */
    height: 10px;
    bottom: 0;
}

.card {
    width: 400px;
    margin: 100px;
    padding: 20px;
    border: 1px solid #aaa;
    box-shadow: 1px 2px 4px rgba(0,0,0,.2);
    position: relative;
    background: #fcfcfc;
    float: right;
}

.card::after {
    content: "";
    position: absolute;
    width: 70%;
    left: 15%;
    border-radius: 50%;
    box-shadow: 0px 10px 30px rgba(0,0,0,.2);
    z-index: -1;
    bottom: 0;
    height: 50px;
}

.card-text{
    padding: 40px;
    text-align: center;
    font-weight: bolder;
}

.card-image {
    width: 100%;
    transition: filter .3s;
    cursor: pointer;
    backface-visibility: hidden;
}

.card-image:hover {
    filter: blur(2px);
    box-shadow: 1px 2px 4px rgba(0,0,0,.2);
    border: 2px 2px 2px rgba(0,0,0,.2);
}

.card:hover .middle {
    opacity:1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 1;
}


.veja {
    color: #fcfcfc;
    font-family: mainfontbold,'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 8px 20px;
    text-decoration: none;
    transition: box-shadow .5s, text-shadow .5s;
    letter-spacing: 2px;
    border: 3px solid #fcfcfc;
}



.veja:hover {
    box-shadow: 2px 3px 4px rgba(0,0,0,0.5), 0 4px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 2px 3px 3px rgba(0,0,0,0.7);
}

.veja:active {
    box-shadow: none;
}

.vertical {
    writing-mode: vertical-rl;
    font-size: 150px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    position: absolute;
    left: 210px;
    transition: transform 1s;
}

.vertical span {
    color: white;
    background-color: blue;
}

.vertical:hover {
    transform: rotate(-90deg);
}

.circle::after {
    content: "";
    width: 200px;
    height: 200px;
    background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    opacity: .7;
    position: absolute;
    top: 50px;
    right: -10px;
    border-radius: 50%;
    transition: transform 1s;
    z-index: -1;
    /*transition-timing-function:  cubic-bezier(1,-0.36,.03,1.44);*/
}

.square::after {
    content: "";
    width: 700px;
    height: 200px;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    opacity: .5;
    position: absolute;
    top: 10px;
    left: 20px;
    transform: rotate(90deg);
    transition: transform 1s; 
    /*transition-timing-function: cubic-bezier(1,-0.36,.03,1.44);*/
    z-index: -1;
}

.effect {
    position: relative;
    width: 50%;
    text-align: right;
    float: right;
    clear: both;
    height: 500px;
}

@keyframes texto {
    0% {right: 300px; opacity: 0;}
    80% {right: -20px;}
    90% {right:20px;}
    100% {right: 0px; opacity: 1;}
}

.effect p {
    font-family: mainfontbook, Times, serif;
    font-size: 24px;
    font-weight: normal;
    margin-right: 30px;
    text-align: left;
    animation-name: texto;
    animation-duration: 1.2s;
    position: absolute;
    color: #222;
}

.effect h2 {
    font-size: 50px;
    text-align: left;
    color: #222;
    font-family: mainfontbold;
}

.effect:hover .circle::after {
    transform: translate(20px, 30px);
}

.effect:hover .square::after {
    transform: translate(30px, 20px);
}

#flex-container {
    display: flex;
    background-color: #1CB5E0;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
}

#flex-container > div {
    width: 300px;
    background-color: #fcfcfc;
    color: #1CB5E0;
    font-family: 'mainfontbold', arial;
    margin: 10px;
    padding: 50px;
    text-align: center;
    height: 350px;
    clear: both;
    transition: box-shadow .5s;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#flex-container > div:hover {
    box-shadow: 2px 3px 16px rgba(0,0,0, 0.2), 4px 4px 16px rgba(0,0,0, 0.2);
    
}

/**************************************************/

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: blue;
    padding: 10px;
    margin-top: 30px;
    grid-column-gap: 5px;
    grid-row-gap: 30px;
}

.grid-item {
    background-color: white;
    border: 1px solid blue;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

#grid-container :nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

