<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4c0de239f3.js" crossorigin="anonymous"></script>
    <title>Paradigm Shift</title>
</head>
<body>
    <div id="main-container">
        <div id="left">
            <header class="top">
                <h1>Paradigm Shift</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </header>
            <main id="main-left">
                <section class="main-1">
                    <h2>Lorem ipsum dolor sit amet</h2>
                </section>
                <section class="main-2">
                    <h2>Lorem ipsum dolor sit amet</h2>
                </section>
                <section class="main-3">
                    <h2>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h2>
                    <h3>minim veniam, quis nostrud exercitation</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </section>
                <section class="main-4">
                    <h2>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </section>
                <section class="getstarted">
                    <h2>Lorem ipsum dolor sit amet Lorem</h2>
                </section>
                <section class="getintouch">
                    <h2>Get in Touch</h2>
                    <h3>Email</h3>
                    <p>teste@gmail.com</p>
                    <h3>Phone</h3>
                    <p>3456-9876</p>
                    <h3>Address</h3>
                    <p>1234 Somewhere Road, Nashville, TN<br>
                    00000</p>
                </section>
            </main>
            <footer class="footer-left">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin-in"></i>
                    <i class="fab fa-github"></i>
                    <i class="fab fa-codepen"></i><!--icones-->
            </footer>
        </div>
        <div id="right">
            <header class="top">
                <img src="./images/girl_touca.jpeg" alt="uma garota com uma touca e uma blusa amarela"> <!--Imagem principal-->
            </header>
            <main id="main-right">
                <section class="main-1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <img src="images/predio.jpeg" alt="predio com teto decorado"><!--imagem ilustrativa do texto-->
                </section>
                <section class="main-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <section class="services">
                        <div><i class="fas fa-laptop"></i></div>
                        <div><i class="fas fa-bolt"></i></div>
                        <div><i class="fas fa-signal"></i></div>
                        <div><i class="fas fa-cog"></i></div>
                        <div><i class="fas fa-map-marker-alt"></i></div>
                        <div><i class="fas fa-code"></i></div>
                    </section>
                    <p>Vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.</p>
                </section>
                <section class="main-3">
                    <h3>Vehicula ultrices sed</h3>
                    <p>Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero.</p>
                    <section class="album"> <!--album-->
                        <img src="images/beco.jpeg">
                        <img src="images/black_and_white.jpeg">
                        <img src="images/cidade_dia.jpeg">
                        <img src="images/folha.jpeg">
                        <img src="images/garota_neon.jpeg">
                        <img src="images/garota_oculos.jpeg">
                        <img src="images/roda_gigante.jpeg"> <!--an image-->
                    </section>
                </section>
                <section class="main-4">
                    <section class="album">
                        <img src="images/mao.jpeg">
                    </section>
                </section>
                <section class="getstarted">
                    <h3>Lorem ipsum dolor sit amet Lorem</h3>
                    <p>Vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.</p>
                    <button>a</button>
                    <button>b</button>
                </section>
                <section class="getintouch">
                    <h3>Lorem ipsum dolor sit amet Lorem</h3>
                    <p>Vehicula ultrices sed ultricies condimentum. Magna sed etiam consequat, et lorem adipiscing sed nulla. Volutpat nisl et tempus et dolor libero, feugiat magna tempus, sed et lorem adipiscing.</p>
                    <form>
                        <input type="text" />
                        <input type="email" />
                        <textarea class="message">

                        </textarea>
                        <input type="submit">
                    </form>
                </section>
            </main>
            <footer class="footer-right">
            </footer>
        </div>
    </div>
</body>
</html>