* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'open-sans';
}

#main-container {
    display: flex;
}

#left {
    width: 50%;
    background: linear-gradient(90deg, rgb(0, 255, 200) 0%, rgb(119, 252, 223) 100%);
}

#right {
    width: 50%;
}

img {
    width: 100%;
    height: auto;
}

.top{
    height: 100Vw;
}

.top-container {
    padding: 150px;
    text-indent: right;
}

.top-container--title {
    font-size: 86px;
    
}

.top-container--text {
    letter-spacing: 3px;
    line-height: 1.5;
}