* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', 'open-sans';
}

#main-container {
    display: flex;
}

#left {
    position: relative;
    width: 50%;
    background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    clear: both;
}

#right {
    width: 50%;
    margin-top: 0;
}

img {
    width: 100%;
    height: auto;
}

.top img {
    height: auto;
}

.top{
    height: 50vw;
    background-position: top;
}

.seta{
    font-size: 45px;
    margin-top: 50px;
    position: relative;
    transition: transform .7s;
    transform: translateY(0px);
    cursor: pointer;
}

.seta:hover {
    transform: translateY(20px);
}

.seta-link {
    text-decoration: none;
}

.seta-link:link, .seta-link:visited {
    color: #222;
}

.top-container {
    padding: 250px 150px 150px 350px;;
    text-align: right;
    width: 100%;
    
}

.top-container--title {
    font-size: 86px;
    margin-bottom: 60px;
    font-weight: bolder;
}

.top-container--text {
    font-size: 24px;
    letter-spacing: 3px;
    line-height: 1.5;
}

.top-container--right {
    padding: 50px 100px;
    background-color: black;
    color: white;
    height: 100%;
}

.top-container--right-title {
    font-size: 34px;
    margin-bottom: 30px;
}

.top-container--right-text {
    line-height: 1.5;
}

.main-1--title {
    letter-spacing: 3px;
}