label{
    margin-right: 25px;
}

label span{
    width: 60px;
    height: 30px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 15px;
}

label span:before{
    content: '';
    width:20px;
    height:20px;
    background-color: #eee;
    display:block;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #aaa;
    transition: all .2s ease-in-out;
}

label input:checked + span:before{
    transform: translateX(30px);
    background: greenyellow;
}


 /*ESTE MODELO DE INPUT ABAIXO TORNOU-SE DE BAIXA ACESSIBILIDADE*/
/*input{
    visibility: hidden;
    width: 1px;
    height: 1px;
    overflow: hidden;
}*/

/* ============== ACESSIBILIDADE ============= */

/* É necessária uma otimização no código para oferecer acessibilidade pelo teclado */
label input:focus + span{
    box-shadow: 0 0 0 2px greenyellow;/*nota-se que ao dar um tab, o elemento fica em destaque, o q facilita o acesso*/
    box-sizing: border-box;
}

input{
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}